/* BASE */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f1f1f1;
}

/* NAVBAR */
.navbar {
  background: #004734;
  padding: 12px 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  color: #f7d300;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

nav a.active {
  color: #f7d300;
}


.cart {
  font-size: 20px;
}


.hero {
  background: #31d46b;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding: 40px 0;
}

.hero h2 {
  color: #d62828;
  font-size: 55px;
}

.hero p {
  color: black;
  font-size: 25px;
}


.products-section {
  padding: 40px 50px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.combos {
  margin-top: 60px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.product-card {
  background: white;
  border-radius: 10px;
  padding-bottom: 15px;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.price {
  color: #008000;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  width: 90%;
  padding: 8px;
  background: #004734;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #006648;
}

/* ===== FOOTER ===== */
.footer {
  background: #004734;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
/* Títulos con Sans Serif Bold */
h1, h2, h3, h4, h5, h6 {
  font-family: "Made canvas"!
  font-weight: 700;
}

/* Párrafos manuscritos */
p, span, a, li {
  font-family: "Dancing Script", cursive;
}



